<footer class="bg-light text-center text-lg-start mt-3">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-dark" href="#">Tareas Pendientes.</a>
    </div>
    <!-- Copyright -->
  </footer>