{% extends 'layout.html' %}

{% block titulo %}Crear Tarea{% endblock %}

{% block body %}
{% include 'fragmentos/_nav.html' %}

<div class="container py-3">
    {% include 'fragmentos/_alert.html' %}
    <h3 class="align text-center py-3">Crear Tarea</h3>

        <form action="" method="post">
            <div class="form-group">

                <textarea class="form-control" name="texto" id="texto" cols="30" rows="10"></textarea>
                <br>
            
                <button class="btn btn-primary" type="submit">Guardar Tarea</button>

            </div>

        </form>

</div>
{% include 'fragmentos/_footer.html' %}
{% endblock %}