{% extends 'layout.html' %}

{% block titulo %}Home{% endblock %}

{% block body %}
{% include 'fragmentos/_nav.html' %}
<div class="container py-3">
    {% include 'fragmentos/_alert.html' %}

    <h1 class="text-center py-3">Tareas</h1>
    <div class="tareas">
        {% for tarea in tareas %}
        <div class="card border-dark">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5>{{tarea.usuario.nombre}}</h5>

                <div>

                    {% if usuario.id == tarea.autor %}
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item btn_eliminacion" href="/borrar_tarea/{{ tarea.id }}">Borrar</a></li>
    
                        </ul>
                    </div>
                    {% endif %}

                </div>

            </div>

            <div class="card-body">
                <div class="card-text">{{tarea.texto}}</div>
                <br>

                <div class="collapse" id="comentarios-{{ tarea.id }}">
                    <div class="card">

                        <div class="card-body" id="comentario-extendido-{{ tarea.id }}">
                            {% for comentario in tarea.comentarios %}
                            <div class="d-flex justify-content-between align-center">
                                <div>
    
                                    <a class="link-success" href="#">{{ comentario.usuario.nombre }}</a>: {{ comentario.texto }}
    
                                </div>
                                <div>
                                    <small class="text-muted">{{ comentario.fecha_creacion.strftime('%H:%M %d/%m/%Y') }}</small>
    
                                    {% if usuario.id ==comentario.autor or usuario.id == tarea.autor %}
    
                                    <div class="btn-group">
    
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="/borrar_comentario/{{ comentario.id }}">Borrar</a></li>
                                        </ul>
    
                                    </div>
                                        
                                    {% endif %}
    
                                </div>
    
                            </div>
                                
                            {% endfor %}
    
                        </div>

                    </div>

                </div>

                <p class="card-text">
                    {% if tarea.comentarios|length > 0 %}
                        
                    <a data-bs-toggle="collapse" href="#comentarios-{{ tarea.id }}" role="button" aria-expanded="false" aria-controls="comentarios-{{ tarea.id }}">

                        <small>Ver {{ tarea.comentarios|length }} Comentarios</small>

                    </a>

                    {% else %}
                        
                    <small class="text-muted">No hay Comentarios!</small>

                    {% endif %}
                </p>

                {% if current_user.nombre %}
                
                <form class="input-group my-3" method="post" action="/crear_comentario/{{ tarea.id }}">
    
                    <input type="text" name="texto" id="texto" class="form-control" placeholder="Comenta Aqui!">
    
                    <button type="submit" class="btn btn-primary">Comenta</button>
    
                </form>
    
                {% endif %}
    
            </div>
            <div class="card-footer text-muted">{{tarea.fecha_creacion.strftime('%H:%M  %d/%m/%Y')}}</div>
            </div>
            <br/ > 
       
            
        {% endfor %}
    </div>

</div>

{% include 'fragmentos/_footer.html' %}
{% endblock %}