{% extends 'layout.html' %}

{% block titulo %}Login{% endblock %}

{% block body %}
<div class="container py-3">
    {% include 'fragmentos/_alert.html' %}
    <form action="" method="POST">

        <h3 class="align text-center">Login</h3>
        <div class="form-group">

            <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Usuario">
            <br>
            <input type="password"  class="form-control" name="password" id="password" placeholder="Contraseña">
            <br>
            <button type="submit" class="btn btn-primary">Login</button>

        </div>
        
    </form>
</div>
{% endblock %}